<h1>Index</h1>
<p>Welcome to the Movie App</p>

<p>See our collection of movies below:</p>

<%= form_tag movies_path, method: 'GET' do %>
<%= text_field_tag :q, params[:q] %>
<%= submit_tag 'Search' %>
<% end %> 




<% @movies.each do |movie| %>
<p><%= movie.title =%></p>
<%end%>




